@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
}

.wrap {
    width: 100%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
	color:black;
}

.clear{
	clear:both;
}

body{
    font-family:'Amiri', sans-serif;
}